  <footer class="text-dark pt-4 pb-4">
    <div class="container">
      <div class="row mb-4">
        <!-- Contact Info -->
        <div class="col-md-4 mb-3">
          <h5>Contact Information</h5>
          <ul class="list-unstyled">
            <li><strong>Name:</strong> Doan Duc Hai</li>
            <li><strong>Email:</strong> <a href="mailto:haidoan08022003@gmail.com" class="text-dark">haidoan08022003@gmail.com</a></li>
            <li><strong>Phone:</strong> 0394558656</li>
            <li><strong>Address:</strong> Hải Dương</li>
          </ul>
        </div>
        <!-- Social Links -->
        <div class="col-md-4 mb-3">
          <h5>Social Links</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-dark"><i class="bi bi-facebook"></i> Facebook</a></li>
            <li><a href="#" class="text-dark"><i class="bi bi-instagram"></i> Instagram</a></li>
            <li><a href="#" class="text-dark"><i class="bi bi-chat-dots"></i> Zalo</a></li>
          </ul>
        </div>
        <!-- Collaboration Info -->
        <div class="col-md-4 mb-3">
          <h5>Collaboration Info</h5>
          <p>For collaboration, contact me at:</p>
          <p><a href="mailto:haidoan08022003@gmail.com" class="text-dark">haidoan08022003@gmail.com</a></p>
        </div>
      </div>
      <!-- Copyright -->
      <div class="text-center">
        <p class="mb-0">Copyright © 2024 Duc Hai TPHD. All Rights Reserved.</p>
      </div>
    </div>
  </footer>
  <style>
    footer {
      margin-top: 100px;
      background-color: aquamarine;
      color: #000;
      font-weight: bold;
      font-size: 16px;
    }
  </style>